/* 색상 가이드
point color: #26348c
sub color: #9393c5 #b3c6d5 
base color(.colorfilm): #eae9f7 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Oswald:wght@200;300;500;700&family=Radio+Canada:wght@300;400;700&display=swap');

/* 기본세팅 */
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {border: 0; vertical-align: middle;}
body {
    font-family: 'Radio Canada', sans-serif; 
    color: #111;
    overflow-x:hidden; overflow-y:auto;
    width: 100%; height: 100%;}


/* 레이아웃 */
.align_mid1 {display: inline-block; width: 1200px; margin: 0 auto;}
.align_mid2 {display: inline-block; width: 1400px; margin: 0 auto;}
.menu_title {margin: 30px 0;}

/* 디자인 */
.font_light {font-weight: 300;}
.font_regular {font-weight: 400;}
.font_bold {font-weight: 700;}
.font_title {font-weight: 600; color: #26348c; font-size: 30px; letter-spacing: -1px;}

/* 헤더 */
#header_wrap {position: relative; height: 165px; background: #26348c; text-align: center;}

    header .nav_area {height: 46px; margin-top: 18px; }
        header .nav_area .top_menu {float: left;}
        header .nav_area .top_menu li {position: relative; display: inline-block; padding-right: 8px; line-height: 13px; }
        header .nav_area .top_menu li a {font-size: 13px; color: #eae9f7; font-weight: 300; letter-spacing: -1px; }
        header .nav_area .top_menu li:after {display: inline-block; content: ''; position: absolute; top: 50%; right: 1px; transform: translateY(-50%); width: 1px; height: 10px; background: #eae9f7; }
        header .nav_area .top_menu li:last-child:after {display: none; }
        header .nav_area nav {float: right; width: 210px; text-align: right;}
        header .nav_area nav .util_menu {position: relative; width: auto; display: inline-block;}
        header .nav_area nav .util_menu li {height: 34px; float: left; color: #eae9f7; font-size: 14px; margin-right: 8px;}
        header .nav_area .language_btn {display: inline-block; border-bottom: 2px solid rgb(225, 225, 225); padding: 4px 9px; margin-top: -4px; font-weight: bold; color: #fff;}
        header .nav_area .language_btn span {
            display: inline-block; 
            width: 6px; height: 6px; 
            border-right: 2px solid #eae9f7; border-bottom: 2px solid #eae9f7; 
            transform: rotate(45deg) translateY(-3px); 
            transition: ease all 0.3s;
        }
        header .nav_area .language_btn:hover span { transform: rotate(405deg); }

        .lang_select { 
            display: none;
            position: absolute; 
            top: 20px; right: 2px; 
            background: #fff; 
            box-sizing: border-box;
            border: 2px solid #000;
            z-index: 3;
        }
        .lang_select p {
            text-align: center;
            padding: 4px 16px;
            cursor: pointer;
        } 
        .lang_select p:first-child { border-bottom: 1px solid #ccc; }
        .lang_select p:hover {
            background: rgba(0,0,0,0.1);
        }
        .lang_select.on { display: block; }


    header .gnb_area {height: 100px;}
        header .gnb_area .main_logo {display: inline-block; float: left; text-align: left; margin: 5px 0; width:auto; color: #eae9f7;}
        header .gnb_area .main_logo h1 {font-size: 36px; letter-spacing: -2px;}
        header .gnb_area .main_logo h2 {font-size: 16px;}
        header .gnb_area .gnb {float: left; display: inline-block; line-height: 100px; margin: 0 68px;}
        header .gnb_area .gnb::after {display: block; content: ''; clear: both;}
        header .gnb_area .gnb ul {overflow: hidden; height: auto; font-size: 18px; color: #eae9f7;} 
        header .gnb_area .gnb ul li {position: relative; float: left; }
        header .gnb_area .gnb ul li a {display: inline-block; width: 100px; line-height: 40px;}
        header .gnb_area .gnb ul li:hover .gnb_txt {position: relative; color: #fff; z-index: 4;}
        header .gnb_area .gnb ul li:hover .gnb_b {position: absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); 
            display: inline-block; width: 45px; height: 45px; border-radius: 50%; background: rgba(147, 147, 197, 0.5); 
            animation: gnb_move 0.3s ease-out;}
        
            @keyframes gnb_move {
                0% {width: 0; height: 0; opacity: 0;}
                100% {width: 45px; opacity: 1;}
            }
        
        header .gnb_area .main_search {float: right; margin-top: 32px; }
        header .gnb_area .main_search .search_box {position: relative; width: 280px; height: 36px; background: #fff; border-radius: 30px;}
        header .gnb_area .main_search .search_box .search_top {position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 200px; padding-left: 10px; }
        header .gnb_area .main_search .search_box input { width: 100%; padding: 6px 8px; font-size: 15px; border: 0; outline: none; }
        header .gnb_area .main_search .search_box > .search_bt {position: absolute; top: 50%; right: 12px; width: 28px; height: 28px; transform: translateY(-50%); cursor: pointer; }
        header .gnb_area .main_search .search_box > .search_bt img {width: 100%; height: 100%; object-fit: contain; opacity: 0.6;}

/* gnbLayer */
.gnbLayer {
    display: none;
    position: absolute;
    top: 165px; left: 0; right: 0;
    width: 100%;
    background: #131313d8;
    z-index: 999;
}
    .gnbLayer .gnbLayerInner {
        display: flex;
        position: relative;
        box-sizing: border-box;
        padding-left: 210px;
    }
    .gnbLayer .gnbLayerInner ul {
        text-align: center;
        padding: 20px 0 80px;
    }
    .gnbLayer .gnbLayerInner ul li {
        margin-bottom: 16px;
    }
    .gnbLayer .gnbLayerInner ul li a {
        display: inline-block;
        width: 102px;
        font-size: 15px;
        color: #acacac;
    }
    .gnbLayer .gnbLayerInner ul li a:hover {
        color: #fff;
    }
                      

/* 콘텐츠 */
#content_wrap {text-align: center;}
    .s1 {;}
        .s1 .main_banner {height: 98vh;}
            
            .visual { position: relative; width: 100%; height: 100%; }
            .thumb_swiper_wrap { 
                position: absolute; 
                width: 360px; height: 434px;
                background: rgba(0,0,0,0.5);
                top: 50%; left: 50%;
                margin-top: -240px;
                margin-left: 220px;
                padding: 20px;
                color: #fff; 
                box-sizing: border-box;
                z-index: 10; 
            }
            .thumb_swiper {
                position: relative;
                overflow: hidden;
                height: 395px;
            }
            .thumb_swiper .swiper-slide {
                position: relative;
                height: 100px;
                cursor: pointer;
                border-bottom: 1px solid #333;
                margin: 0 25px 0;
                width: calc(100% - 50px);
                padding: 12px 0;
                box-sizing: border-box;
            }
            .thumb_swiper .swiper-slide p {
                width: 100%;
                opacity: 0.5;
                font-size: 18px;
                color: #fff;
                transition: ease all 0.3s;
                box-sizing: border-box;
                text-align: left;
            }
            .thumb_swiper .swiper-slide-active p {
                opacity: 1;
                transition: ease all 0.3s;
            }



            .visual .visual_swiper { width: 100%; height: 100%; }
            .visual_swiper .swiper-wrapper {
                width: 100%;
                height: 100%;
                transition-duration: 1s;
            }
            .visual_swiper .swiper-slide {
                position: relative;
                width: 100%;
                height: 100%;
                color: #fff;
                transition: ease all 0.4s;
                opacity: 0;
                transition-duration: 1s;
            }

            .visual_swiper .bn1 {
                background: url('../img/banner01-1.png') no-repeat center center /cover;
            }
            .visual_swiper .bn2 {
                background: url('../img/banner02-1.jpeg') no-repeat center center /cover;
            }
            .visual_swiper .bn3 {
                background: url('../img/banner03-1.jpeg') no-repeat center center /cover;
            }
            .visual_swiper .bn4 {
                background: url('../img/banner4-1.jpeg') no-repeat center center /cover;
            }


            .main_banner .main_txt {
                position: absolute; 
                top: 30%; 
                left: 13%; 
                text-align: left;
                z-index: 3;
                width: 540px;
            }
            .main_banner .main_txt p {
                margin-bottom: 10px; 
                line-height: 1.5;
                font-size: 18px; 
                opacity: 0.9;
                word-break: keep-all;
            }
            .main_banner .main_txt p:nth-of-type(2) {
                font-size: 48px; 
                letter-spacing: -0.5px;
                line-height: 1.25;
                font-weight: 700;
                opacity: 1;
            }



    .s2 {overflow: hidden; padding: 0 35px; background: #eae9f7;}
        .s2 .q_menu {float: left; margin: 30px 0px 30px 10px; }
            .q_menu .q_menu_box {margin: 10px 0;}
            .q_menu .q_menu_box > a {float: left; text-align: right; width: 220px; height: 280px; margin-right: 4px; background: #b3c6d5; color: #ffffff; transition: 0.5s ease;}
            .q_menu .q_menu_box > a:last-child {margin-right: 0;}

            .q_menu .q_menu_box > a > div > p {text-align: left;}
            .q_menu .q_menu_box > a > div > p:first-child {font-size: 20px; height: 60px; margin: 18px 15px;}
            .q_menu .q_menu_box > a > div > p:nth-child(2) {height: 80px; font-size: 16px; margin: 0 15px; word-break: keep-all;}
            .q_menu .q_menu_box > a > div > p:last-child {display: inline-block; text-align: right; margin: 58px 15px 15px 15px; width: 35px; height: 35px;}
            .q_menu .q_menu_box > a > div > p:last-child img {width: 35px; height: 35px;}

            .q_menu .q_menu_box > a:hover {color: #26348c;}
            .q_menu .q_menu_box > a:hover div > p:last-child  {background: url(icon/arrow1-1.png); background-size: 35px 35px;}
            .q_menu .q_menu_box > a:hover div > p:last-child img {display: none;}




        .s2 .notice {float: right; margin: 30px 10px 30px 0; }
            .notice .notice_box {width: 630px; height: 251px; box-sizing: border-box;}
            .notice .notice_box a {display: block; border-bottom: 1px solid #222; padding: 10px 0;}
            .notice .notice_box article {overflow: hidden;}
            .notice .notice_box article h2 {display: inline-block; font-size: 14px; font-weight: 600; max-width: 450px; float: left;}
            .notice .notice_box article span {display: inline-block; float: right; text-align: center; font-size: 14px;}



    .s3 {padding: 0 auto; background: #eae9f7;}
        .s3 .pg_list {margin: 80px 0; padding: 0 10px;}
            .pg_list .list_box {;}
            .pg_list .list_box ul {overflow: hidden; margin: 35px 0;}
            .pg_list .list_box ul li {background:#b3c6d560; float: left; width: auto; margin: 20px 8px; box-sizing: border-box; border: 2px solid #b3c6d5; transition: 0.3s ease-in;}

            .pg_list .list_box ul li .img_card {position: relative; width: 324px; height: 240px; }
            .pg_list .list_box ul li .img_card img {width: 100%; height: 100%; object-fit: cover; }
            .pg_list .list_box ul li .img_b {position: absolute; top: 0px; left: 0px; display: none; transition: 0.3s ease-in;}

            .pg_list .list_box ul li:hover {background: #9393c5; border: 2px solid #9393c5;}
            .pg_list .list_box ul li:hover .img_a {display: none;}
            .pg_list .list_box ul li:hover .img_b {display: block;}
            .pg_list .list_box ul li:hover div > p:nth-child(3) {border-top: 1px dotted #000; padding-top: 4px; margin-top: -5px;}

            .pg_list .list_box ul li .text_card {text-align: left; padding: 10px;}
            .pg_list .list_box ul li div > p {line-height: 22px;}
            .pg_list .list_box ul li div > p:first-child {font-size: 16px; font-weight: 700;}
            .pg_list .list_box ul li div > p:nth-child(2) {font-size: 12px; font-weight: 700; margin-bottom: 24px;}
            .pg_list .list_box ul li div > p:nth-child(3) {font-size: 14px; font-weight: 600;}
            .pg_list .list_box ul li div > p:last-child {font-size: 14px; font-weight: 400; }

            .pg_list .list_box .btn_more {display: inline-block; padding: 10px 20px; background: #26348c; color: #eae9f7; font-size: 20px; font-weight: 700; line-height: 30px;}
            .pg_list .list_box .btn_more:hover {background: #26348cd4;}



    .s4 {padding: 0 auto; background: #9393c5; height: 240px;}
        .s4 .sns_box {overflow: hidden; display: inline-block; margin: 22px 0; }
            .sns_box .sns_txt {display: inline-block; float: left; margin: 42px 30px 42px 0;}
            /* .sns_box .sns_txt::after {display: block; content: ''; clear: both;} */

            .sns_box .sns_txt p {font-size: 24px; color: #eae9f7; margin: 2px 0;}
            .sns_box .sns_txt p:nth-child(2) {font-size: 20px; color: #26348c;}

            .sns_box .sns_img {float: right; display: inline-block;}
            .sns_box .sns_img li {float: left; width: 195px; height: 195px; box-sizing: border-box; border: 1px solid #fff; margin-right: 10px; }
            .sns_box .sns_img li:last-child {margin-right: 0; }

            .sns_box .sns_img li img {float: left; width: 100%; height: 100%; object-fit: cover;}


    .s5 {background: #b3c6d5; height: 54px;}
        .s5 .newsletter_box {overflow: hidden; line-height: 54px;}
            .newsletter_box p {float: left;}
            .newsletter_box p:first-child {font-weight: 600; color: #26348c; font-size: 20px; letter-spacing: -0.5px; margin-right: 25px;}
            .newsletter_box .subscrb_box {position: relative; width: 474px; height: 32px; background: #fff; line-height: 32px; margin: 10px 25px;}
            .newsletter_box .subscrb_box input {position: absolute; top: 50%; left: 0; transform: translateY(-50%); padding: 0 10px; display: inline-block; width: 314px; height: 30px; border: 0; outline: none; }
            .newsletter_box .subscrb_box .sb_bt {position: absolute; right: 0; display: inline-block; width: 94px; height: 32px; background: #26348c; color: #fff; cursor: pointer;}
            .newsletter_box p:last-child {font-weight: 400; color: #26348c; font-size: 12px; text-align: left; line-height: 16px; margin: 12px 0;}
        

/* 푸터 */
#footer_wrap {display: block;}
    footer {overflow: hidden; width: 100%; height: 154px; background: #26348c; text-align: center; font-size: 11px; color: #eae9f7; }
    footer .align_mid1 {text-align: left; margin: 24px 0;}
    footer .align_mid1 > div {float: left; width: 295px; font-size: 11px; font-weight: 300;}
    
    footer .align_mid1 .f1 {width: 291px;  }
    footer .align_mid1 .f1 p:first-child {font-size: 12px;}
    footer .align_mid1 .f1 p:nth-child(2) {font-size: 12px; font-weight: 600; margin: 10px 0;} 
    
    footer .align_mid1 .f2 {width: 295px; margin-right: 250px;}
    footer .align_mid1 .f2 address {font-style: normal;}
    footer .align_mid1 .f2 p:first-child {font-size: 12px; margin-bottom: 10px;}
    
    footer .align_mid1 .f3 {width: 190px;}
    footer .align_mid1 .f3 ul {margin-bottom: 10px;}
    footer .align_mid1 .f3 ul li {float: left; width: 34px; height: 34px; margin-right: 7px; }
    footer .align_mid1 .f3 ul li:nth-of-type(4) {margin-left: 4px; }
    footer .align_mid1 .f3 ul li img {width: 100%; height: 100%; }
    footer .align_mid1 .f3 ul::after {display: block; content: ''; clear: both;}



